.Improve {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#Scan {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: out-fit;
}


.qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: fit-content;
    text-align: center;
    padding: 11px;
    border-radius: 10px;
    height: 370px;
    width: 230px;
    box-shadow: 8px 8px 16px 1px hsl(213, 7%, 85%);
    font: 1em sans-serif;
}

img {
    border-radius: 8px;
    width: 470px;
}

.image {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#Scan {
    color: hsl(216, 15%, 48%);
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.Improve {
    font-weight: bold;
    font-size: large;
    margin-bottom: -5px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

@media screen and (max-width: 375px) {
    .qr-code {
        margin-top: 10px;
        width: 75%;
        margin-left: 50px;
    }

    img {
        width: 210px;
        height: 210px;
    }

    .container {
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    img {
        width: 200px;
    }

    #Scan {
        width: 200px;
    }

    .container {
        width: 90%;
    }

}